/* Tags */
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
}

section{
    background-color: #ebebeb;
    width: 495px;
    float: left;
    margin-left: 0%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-bottom: -1%;
}

article{
    color: #ebebeb;
    background-color: #777;
    padding: 10px;
    padding-top: 20px;
    margin: 10px;
    margin-top: 20px;
}


aside{
    display: inline-block;
    background-color: #ebebeb;
    width: 445px;
}

h1{
    color: #777;
    background-color: #ebebeb;
    margin: 10px;
}

p{
    color: #777;
    background-color: #ebebeb;
    margin: 10px;
}


/* Classes */
.article-boxes{
    /* maintains appearance between the different boxes within the article */
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 5%;
}

.header-nav-footer{
    /* created to keep the same appearance between the header, navbar, and footer */
    clear: both;
    background-color: #ebebeb;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 3%;
    padding-bottom: 3%;

}

.side-by-side{
    /* used to ensure the heights of the two divs article/aside remained the same */
    padding-top: 4%;
    height: 275px;
}
